body, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, ul, li, form, table, tr, th, td{
	margin:0;
	padding:0;
}
a{
 text-decoration: none;
}

html{
	height:100%;
	font-size:26.67vw;
	font-family:Arial;
}
img{
	border: none;
	display:block;
}
body{
	height:100%;
	display:-webkit-flex;
	-webkit-flex-direction:column;
}
.bigbox{
	overflow-y:auto;
}
/*header*/
header{
	height: .5rem;
	background:linear-gradient(to right, #fb6f31 0%,#f45b3c 20%, #f3543f 40%,#f14f4d 60%,#fb5084 80%);
	display:-webkit-flex;
}

.nav{
	width:80%;
	height: .5rem;
	font-size:15px;	
	line-height: .5rem;
	margin-left:.15rem;
}
.nav a{
	margin-right: .15rem;
	color:#f3b8be;
}
.nav a:hover{
	font-size:.22rem;	
	color:white;
}
.figer{
	display:-webkit-flex;
	margin:auto;
}
.figer img{
	width:.2rem;
	height:.2rem;
	margin-right:.15rem;
}

/*section*/
section{
	/* width:100%; */
	height:2.71rem;
	background:skyblue;
	border-top:1px solid #e1cece;
	border-bottom:2px solid #e7e7e7;
}
.name{
	/* width:100%; */
	height:.63rem;
	padding-left:.24rem;
	padding-top:.24rem;
	background:white;
}
.name img{
	width:.52rem;
	height:.52rem;
	border-radius:50%;
	margin-right:.15rem;
	float:left;
}
.nameAndTime h3{
	font-size:.22rem;
}
.nameAndTime h6{
	color:#949494;
	font-size:.17rem;
	font-weight:100;
}
.music{
	width:70%;
	height:1.84rem;
	padding-left:24%;
	background:white;
}
.music .song{
	background:#f8f8f6;
	height:1.2rem;
}
.song img{
	width:1.7rem;
	height:1.2rem;
	border-radius:3px;
	margin-right:.15rem;
	float:left;
}
.nameAndTime h3{
	font-size:.22rem;
}
.nameAndTime h6{
	color:#949494;
	font-size:.17rem;
	font-weight:100;
}